@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #EDEADE;
  --base: #000000;
  --brand-orange: #f97316;
}

.dark {
  --bg: #1e1e1e;
  --base: #ffffff;
  --brand-orange: #f97316;
}

body {
  background-color: var(--bg);
  color: var(--base);
  font-family: theme('fontFamily.sans');
  transition: background-color 0.3s ease, color 0.3s ease;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.6);
  border-radius: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}


@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.4s ease-out both;
}